{{ define "by_host" }}
{{/* -*- mode: web; coding: utf-8; -*- */}}
{{/* Time-stamp: <2022-11-01 00:53:57 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    <h1>{{ .Title }}</h1>
    <hr />

    {{ if .Debug }}
    Page was rendered on {{ now }}
    {{ end }}

    {{ template "beacon" . }}

    {{ template "menu" }}

    <table class="table">
      <thead>
        <tr>
          <th>IP</th>
          <th>Name</th>
          <th>Location</th>
          <th>Operating System</th>
          <th>Ports</th>
        </tr>
      </thead>

      <tbody>
        {{ range .Hosts }}
        <tr>
          <td>{{ .Host.Address }}</td>
          <td>{{ .Host.Name }}</td>
          <td></td>
          <td></td>
          <td>
            <ol>
            {{ range .Ports }}
              <li> <b>{{ .Port }}</b> - <pre>{{ .ReplyString }}</pre></li>
            {{ end }}
            </ol>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </body>
</html>
{{ end }}
