{{define "by_port"}}
{{/* -*- mode: web; coding: utf-8; -*- */}}
{{/* Time-stamp: <2022-11-24 18:41:54 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    <h1>{{.Title}}</h1>
    <hr />

    {{if (gt (len .Error) 0)}}
    <div class="error">
      {{range .Error}}
      {{.}}<br />
      {{end}}
    </div>
    {{end}}

    {{ template "beacon" . }}

    <p>&nbsp;</p>

    {{ template "menu" }}

    <script src="/static/update.js"></script>

    <script>
     function toggle_port_visibility(n, do_hide) {
       const containerID = `#content_port_${n}`
       if (do_hide) {
         $(containerID).hide()
       } else {
         $(containerID).show()
       }
     }

     $(document).ready(() => {
       console.log('Initialize page elements...')
       $('.filter_checkbox').each(() => {
         $(this).checked = false
       })
       $('.port_results').show()
       $('#toggle_update')[0].checked = settings.update.active
       $('#update_interval_edit')[0].value = settings.update.interval / 1000
       window.setTimeout(update_results, settings.update.interval)
     })
    </script>

    <hr />

    {{ template "controlpanel" . }}

    <hr />

    <details>
      <summary>Auto-Refresh</summary>
      <div class="container">
        <div class="row">
          <div class="col col-sm-4">
            <table class="table horizontal">
              <tr>
                <th>Refresh?</th>
                <td>
                  <div class="form-check form-switch filter_checkbox">
                    <input class="form-check-input" type="checkbox"
                           onchange="updateToggle()"
                           id="toggle_update"
                           />
                  </div>
                </td>

                <th>Interval (sec):</th>
                <td>
                  <input
                  id="update_interval_edit"
                  type="number"
                  min="1"
                  value="5"
                  onchange="updateIntervalEdit()"
                  />
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </details>

    <hr />

    <details open="true">
      <summary>Table of Contents</summary>
      <table class="horizontal caption-top">
        <caption>Table of contents</caption>
        <thead>
          <tr>
            <th>Port</th>
            <th>No. of hosts</th>
            <th>Hide?</th>
          </tr>
        </thead>

        <tbody>
          {{range .Ports}}
          <tr id="toc_{{.Port}}">
            <td style="text-align:right">
              <a href="#port_{{.Port}}">{{.Port}}</a>
            </td>
            <td id="port_cnt_{{.Port}}">
              {{len .Results}}
            </td>
            <td>
              <div class="form-check form-switch">
                <input class="form-check-input filter_checkbox" type="checkbox"
                       onchange="toggle_port_visibility({{.Port}}, this.checked)" id="checkbox_{{.Port}}"
                       />
              </div>
            </td>
          </tr>
          {{end}}
          <tr>
            <th>Total</td>
              <td id="toc_total"><b>{{.Count}}</b></td>
          </tr>
        </tbody>
      </table>
    </details>

    {{ range .Ports }}
    <div id="content_port_{{.Port}}" class="port_results">
      <hr />

      <table class="table caption-top">
        <thead>
          <caption><a id="port_{{.Port}}">Port {{ .Port }}</a></caption>
          <tr>
            <th>Host</th>
            <th>Stamp</th>
            <th>Reply</th>
          </tr>
        </thead>

        <tbody id="tbody_{{.Port}}">
          {{$row_class := cycle "even" "odd"}}
          {{ range .Results }}
          <tr class="{{$row_class.Next}} port_{{ .Port }}">
            <td>{{.HostName}} ({{.Address}})</td>
            <td>{{fmt_time .Stamp}}</td>
            <td><pre>{{html .ReplyString}}</pre></td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
    {{ end }}

    {{template "footer"}}
  </body>
</html>
{{end}}
