{{define "by_port"}}
{{/* -*- mode: web; coding: utf-8; -*- */}}
{{/* Time-stamp: <2016-02-29 07:21:56 krylon> */}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script type="text/javascript" src="/static/jquery-1.11.3.min.js">
    </script>

    <script type="text/javascript" src="/static/underscore.js">
    </script>

    <script type="text/javascript" src="/static/interact.js">
    </script>

    <script type="text/javascript">
     function toggle_port_visibility(n, do_hide) {
       var row_class = "port_" + n;
       $(".port_" + n).each(function(x) { 
         if (do_hide) {
           $(this).hide();
         }
         else {
           $(this).show();
         }
       });
     }

     
    </script>

    <script type="text/javascript">
     $(document).ready(function() {
       $('.filter_checkbox').each(function () {
         $(this).checked = false;
       });
    </script>
  </head>

  <body>
    <h1>{{.Title}}</h1>
    <hr />

    {{if .Debug}}
    Page was rendered on {{now}}
    {{end}}

    {{if (gt (len .Error) 0)}}
    <div class="error">
      {{range .Error}}
      {{.}}<br />
      {{end}}
    </div>
    {{end}}

    <table class="horizontal">
      <caption>Table of contents</caption>
      <thead>
        <tr>
          <th>Port</th>
          <th>No. of hosts</th>
          <th>Ausblenden?</th>
        </tr>
      </thead>

      <tbody>
        {{range .Ports}}
        <tr>
          <th><a href="#port_{{.Port}}">{{.Port}}</a></td>
          <td>{{len .Results}}</td>
          <td>
            <input type="checkbox" onchange="toggle_port_visibility({{.Port}}, this.checked)" id="checkbox_{{.Port}}" class="filter_checkbox">
          </td>
        </tr>
        {{end}}
        <tr>
          <th>Total</td>
          <td><b>{{.Count}}</b></td>
        </tr>
      </tbody>
    </table>

    <table border="1" id="content">
      <caption>Open Ports</caption>
      <thead>
      <tr>
        <th>Host</th>
        <th>Stamp</th>
        <th>Reply</th>
      </tr>
      </thead>
      <tbody>
      {{range .Ports}}
      <tr class="port_{{.Port}}">
        <td colspan="3"><a name="port_{{.Port}}"><h2>{{.Port}}</h2></a></td>
      </tr>
      {{$row_class := cycle "even" "odd"}}      
      {{range .Results}}
      <tr class="{{$row_class.Next}} port_{{.Port}}">
        <td>{{.HostName}} ({{.Address}})</td>
        <td>{{.Stamp}}</td>
        <td><pre>{{.ReplyString}}</pre></td>
      </tr>
      {{end}}
      {{end}}
      </tbody>
    </table>

    {{template "footer"}}
  </body>
</html>
{{end}}
