{{ define "controlpanel" }}
{{/* Created on 08. 11. 2022 */}}
{{/* Time-stamp: <2022-11-12 00:22:06 krylon> */}}
<div id="controlpanel" class="container-fluid">
  <table class="table horizontal caption-top">
    <tr>
      <th>
        Generators
      </th>
      <td>
        <div id="cnt_gen" class="counter">
          0
        </div>
      </td>
      <td>
        <button class="btn btn-light pushbutton">
          +
        </button>
        &nbsp;
        <button class="btn btn-light pushbutton">
          -
        </button>
      </td>
    </tr>
    <tr>
      <th>XFR</th>
      <td>
        <div id="cnt_xfr" class="counter">
          0
        </div>
      </td>
      <td>
        <button class="btn btn-light pushbutton">
          +
        </button>
        &nbsp;
        <button class="btn btn-light pushbutton">
          -
        </button>
      </td>
    </tr>
    <tr>
      <th>Scanners</th>
      <td>
        <div id="cnt_scan" class="counter">
          0
        </div>
      </td>
      <td>
        <button class="btn btn-light pushbutton">
          +
        </button>
        &nbsp;
        <button class="btn btn-light pushbutton">
          -
        </button>
      </td>
    </tr>
  </table>
</div>
{{ end }}
