{{define "footer"}}
{{/* -*- mode: web; coding: utf-8; -*- */}}
{{/* Time-stamp: <2016-02-06 17:15:05 krylon> */}}
<hr />

<div class="footer">
  Guang Web Frontend<br />
  &copy; 2016 <a href="mailto:krylon@gmx.net">Benjamin Walkenhorst</a>
</div>
{{end}}
