{{define "footer"}}
{{/* -*- mode: web; coding: utf-8; -*- */}}
{{/* Time-stamp: <2022-10-31 22:18:00 krylon> */}}
<hr />
<div class="footer">
  <footer>
    {{ app_string }}<br />
    &copy; 2016
    {{ if (gt current_year "2016") }}
    - {{ current_year }}
    {{ end }}
    <a href="mailto:benjamin.walkenhorst@posteo.de">
      Benjamin Walkenhorst
    </a>
    {{ if .Debug }}
    <br />
    Template rendered on <time>{{ now }}</time>
    {{ end }}
  </footer>
</div>
{{end}}
