{{define "index"}}
{{/* -*- mode: web; coding: utf-8; -*- */}}
{{/* Time-stamp: <2022-11-01 00:53:44 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    <h1>{{.Title}}</h1>
    <hr />

    {{if .Debug}}
    Page was rendered on {{now}} 
    {{end}}
    
    {{if (gt (len .Error) 0)}}
    <div class="error">
      {{range .Error}}
      {{.}}<br />
      {{end}}
    </div>
    <hr />
    {{end}}

    {{ template "beacon" . }}

    {{ template "menu" }}

    Current state of Guang:
    <table class="horizontal">
      <tr>
        <th>Host generators</th>
        <td>{{.HostGenCnt}}</td>
      </tr>

      <tr>
        <th>XFR workers</th>
        <td>{{.XFRCnt}}</td>
      </tr>

      <tr>
        <th>Scanners</th>
        <td>{{.ScanCnt}}</td>
      </tr>

      <tr>
        <th>Hosts in database</th>
        <td>{{.HostCnt}}</td>
      </tr>

      <tr>
        <th>Ports successfully scanned</th>
        <td>{{.PortReplyCnt}}</td>
      </tr>
    </table>

    {{template "footer"}}
  </body>
</html>
{{end}}
