{{define "index"}}
{{/* -*- mode: web; coding: utf-8; -*- */}}
{{/* Time-stamp: <2023-01-04 22:00:23 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    <h1>{{.Title}}</h1>
    <hr />

    {{if .Debug}}
    Page was rendered on {{now}} 
    {{end}}
    
    {{if (gt (len .Error) 0)}}
    <div class="error">
      {{range .Error}}
      {{.}}<br />
      {{end}}
    </div>
    <hr />
    {{end}}

    {{ template "beacon" . }}

    {{ template "menu" }}

    {{ template "controlpanel" . }}

    {{template "footer"}}
  </body>
</html>
{{end}}
