{{define "menu"}}
{{/* -*- mode: web; coding: utf-8; -*- */}}
{{/* Time-stamp: <2016-02-13 20:27:48 krylon> */}}

<div class="menu">
  <a href="/">Main</a>
  <a href="/by_port">Scanned Ports</a>
  <a href="/by_host">Scanned Hosts</a>
</div>
<hr />
{{end}}
