{{ define "msgbox" }}
{{/* Created on 06. 01. 2023 */}}
{{/* Time-stamp: <2023-01-09 18:07:46 krylon> */}}
<div class="container" id="msgbox">
  <details open="true">
    <table class="table caption-top">
      <caption>Messages</caption>
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody id="msglist">
      </tbody>
    </table>
  </details>
</div>
{{ end }}
