{{ define "status" }}
{{/* Created on 04. 01. 2023 */}}
{{/* Time-stamp: <2023-01-04 20:50:07 krylon> */}}
<table class="table horizontal caption-top">
  <thead>
    <caption>
          Current state of Guang
    </caption>
  </thead>
  <tbody>
    <tr>
      <th>Host generators</th>
      <td>{{.HostGenCnt}}</td>
    </tr>

    <tr>
      <th>XFR workers</th>
      <td>{{.XFRCnt}}</td>
    </tr>

    <tr>
      <th>Scanners</th>
      <td>{{.ScanCnt}}</td>
    </tr>

    <tr>
      <th>Hosts in database</th>
      <td>{{.HostCnt}}</td>
    </tr>

    <tr>
      <th>Ports successfully scanned</th>
      <td>{{.PortReplyCnt}}</td>
    </tr>
  </tbody>
</table>
{{ end }}
