/* Time-stamp: <2022-11-08 00:46:00 krylon> */

body { font-family: Arial,Helvetica; }

h1 { text-align: center; 
     text-decoration: underline;
   }

h2 { text-decoration: underline;
   }

*.footer {
    text-align: center;
    font-size: 8pt; 
}

*.error {
    background-color: #FF0000;
    color: #000000;
}

*.even { background-color: #bdbdbd; }
*.odd  { background-color: #ffffff; }

/* div.menu { font-size: 9pt;  */
           
table.horizontal * th { text-align: right; }
table.horizontal * td { text-align: left; }

caption {
    font-size: 16pt;
    text-decoration: underline;
    font-weight: bold;
}
